<div class="cart-sidebar-inner">
  
  <button id="closeCartSidebar" class="btn-close-cart" aria-label="Close cart">
    &times;
  </button>
  {% if cart_items %}
    <h5 class="mb-3">Your Cart</h5>
  
    <ul class="list-group mb-3">
      {% for item in cart_items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ item.product.title }}</strong><br>
            <small>{{ item.quantity }} × {{ item.product.price }} zł</small>
          </div>
          <span>{{ item.total|floatformat:2 }} zł</span>
        </li>
      {% endfor %}
    </ul>
    
    <div class="d-flex justify-content-between font-weight-bold px-2">
      <span>Total:</span>
      <span>{{ total_price }} zł</span>
    </div>

    <div class="text-center mt-4">
      <a href="{% url 'checkout:cart-sidebar' %}" class="btn btn-success w-100">Proceed to Checkout</a>
    </div>

  {% else %}
    <p class="text-muted">Your cart is empty.</p>
  {% endif %}

</div>
